body{
	/*font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;*/
	/*font-size: 13px;*/
	/*color: white;*/
	/*background: #ffffff url(https://fh17-msallen.c9users.io/static/fh17/images/background.png);*/
	/*background-repeat:repeat-x;*/
	background: #2a3753;
}

#temple-picture{
	position:relative;
	width:650px;
	height:325px;
	top:10px;
	margin-left:10px;
	background-image:url(https://fh17-msallen.c9users.io/static/fh17/images/mainImage.jpg);
	background-repeat:no-repeat;
}

.navbar{
	background: #3c4d71;
	color: white;
}

.nav-link{
	color: white;
}
