<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Friends of Craig Park YSA</title>

	<!--Site Icon-->
	<link rel="icon" href="{% static 'emerald/images/emerald_icon.png' %}">

    <!-- Bootstrap  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!--Custom CSS-->
	<link rel="stylesheet" type="text/css" href="{% static 'fh17/css/test.css' %}" />
</head>

<body>
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
	{% endfor %}
	<div id="auth">
		{% if request.user.is_authenticated %}

		<div>Welcome, <a id="username" href="{% url 'profiles:update' pk=request.user.profile.id %}">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</a></div>

		<div id="logout">
			<a id="logout" href="{% url 'accounts:logout' %}">Logout</a>
		</div>

		{% else %}
		<div>
			<a id="login" href="{% url 'accounts:login' %}">Login</a>
		</div>

		{% endif %}
	</div>
	<div class="container">
		<div id="page">
			<div class="topNaviagationLink"><a href="{% url 'home' %}">Home</a></div>
			<div class="topNaviagationLink"><a href="{% url 'fh:dashboard' %}">Family History Initiative</a></div>
			<!-- More links at the top can be added later
			<div class="topNaviagationLink"><a href="index.html">Events</a></div>
			<div class="topNaviagationLink"><a href="index.html">Housing</a></div>-->
			<div class="topNaviagationLink"><a href="{% url 'contact' %}">Contact</a></div>
			{% if request.user.is_superuser %}
			<div class="topNaviagationLink"><a href="{% url 'reports' %}">Reports</a></div>
			{% endif %}
		</div>
		<div id="mainPicture">
			<div class="picture">
				<img src="{% static 'fh17/images/newport_beach_temple.jpg' %}"/>
			</div>
		</div>
		<div class="contentBox">
			<div class="innerBox">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>

<!-- jquery -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script 
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
  crossorigin="anonymous"></script>
</body>
</html>
