<!DOCTYPE html >
<html>
<head>
	{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="https://fh17-msallen.c9users.io/static/fh17/css/style.css" />
    <title>Craig Park YSA</title>
</head>

<body>
    <div id="page">
		<div class="topNaviagationLink"><a href="{% url 'home' %}">Home</a></div>
		<div class="topNaviagationLink"><a href="{% url 'fh:base' %}">Family History Initiative</a></div>
        <!-- More links at the top can be added later
        <div class="topNaviagationLink"><a href="index.html">Events</a></div>
        <div class="topNaviagationLink"><a href="index.html">Housing</a></div>-->
		<div class="topNaviagationLink"><a href="{% url 'contact' %}">Contact</a></div>
	</div>
    <div id="mainPicture">
    	<div class="picture">
    	    <img src="https://fh17-msallen.c9users.io/static/fh17/images/newport_beach_temple.jpg"/>
        </div>
    </div>
    <div class="contentBox">
	    <div class="innerBox">
			{% block content %}
			{% endblock %}
        </div>
    </div>
</body>
</html>
