<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="https://fh17-msallen.c9users.io/static/fh17/css/style.css" />
    <title>Craig Park YSA</title>
</head>

<body>
    <div id="page">
        <div class="topNaviagationLink"><a href="home.html">Home</a></div>
        <div class="topNaviagationLink"><a href="fh.html">Family History Initiative</a></div>
        <!-- More links at the top can be added later
        <div class="topNaviagationLink"><a href="index.html">Events</a></div>
        <div class="topNaviagationLink"><a href="index.html">Housing</a></div>-->
	    <div class="topNaviagationLink"><a href="contacts.html">Contact</a></div>
	</div>
    <div id="mainPicture">
    	<div class="picture">
    	    <img src="https://fh17-msallen.c9users.io/static/fh17/images/newport_beach_temple.jpg"/>
        </div>
    </div>
    <div class="contentBox">
	    <div class="innerBox">
            <h1>Contacts</h1>
            <div class="contentText">
                <br/>
            </div>
            <h2>Bishopric</h2>
            <div class="contentText">
                <ul> 
                    <li>Bishop Scott Stanford: </li>
                </ul>
                <br />
             </div>
        </div>
    </div>
</body>
</html>
